.example-spacer {
  flex: 1 1 auto;
}
.main-container{

  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../assets/vecteezy_a-white-paper-on-a-leaves-background-ai-generated_23463677_836.jpg');
  background-size: cover;
  background-position: center;
}

